{% load static %}
<div class="box shadow pb-0">
	{% include "templates/menu.html" %}

	<!-- About -->
	<div class="pb-3">
		<h1 class="title title--h1 first-title title__separate">Resume</h1>
	</div>

	<!-- Experience -->
	<div class="pb-0">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2 class="title title--h3"><img class="title-icon"
						src="{% static 'icons/icon-education.svg' %}" alt="" /> Education</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Universitas Esa Unggul
						</h5>
						<span class="timeline__period">2017 — Present</span>
						<p class="timeline__description">
							S1 Teknik Informatika
						</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							SMK RISTEK KIKIN Jakarta
						</h5>
						<span class="timeline__period">2011 — 2014</span>
						<p class="timeline__description">
							Teknik Mekanik Otomotif
						</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							SMPN 270 Jakarta
						</h5>
						<span class="timeline__period">2008 — 2011</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							SDN CAPAR I Jatinegara, Tegal
						</h5>
						<span class="timeline__period">2002 — 2008</span>
					</article>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<h2 class="title title--h3"><img class="title-icon"
						src="{% static 'icons/icon-experience.svg' %}" alt="" /> Experience</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Backend Engineer
							<br>
							PT Oto Klix Indonesia (otoklix)
						</h5>
						<span class="timeline__period">Feb 2022 - Present</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Web Developer
							<br>
							PT Togu Inovasi Teknologi
						</h5>
						<span class="timeline__period">Feb 2020 - Sep 2021</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Teknisi Lapangan
							<br>
							PT Sentra Bisnis Lamuda
						</h5>
						<span class="timeline__period">Nov 2016 - Jun 2018</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Mekanik
							<br>
							Ponorogo Jaya Motor, Kelapa Gading
						</h5>
						<span class="timeline__period">Apr 2015 - Oct 2016</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h5 timeline__title">
							Mekanik
							<br>
							Pasuruan Motor, Pulogadung
						</h5>
						<span class="timeline__period">Jun 2013 - Mar 2015</span>
					</article>
				</div>
			</div>
		</div>
	</div>

	<!-- Skills -->
	<div class="box-inner box-inner--rounded">
		<div class="row">
			<div class="col-12 col-lg-6 mt-4 mt-lg-0">
				<h2 class="title title--h3">Coding Skills</h2>
				<div class="box box__second">
					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Python</span><span>80</span></div>
						</div>
						<div class="progress-text"><span>Python</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="85"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>PHP</span><span>85</span></div>
						</div>
						<div class="progress-text"><span>PHP</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Javascript</span><span>70</span></div>
						</div>
						<div class="progress-text"><span>Javascript</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Dart</span><span>70</span></div>
						</div>
						<div class="progress-text"><span>Dart</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Java</span><span>60</span></div>
						</div>
						<div class="progress-text"><span>Java</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>HTML</span><span>90</span></div>
						</div>
						<div class="progress-text"><span>HTML</span></div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-6 mt-4 mt-lg-0">
				<h2 class="title title--h3">Framework Used</h2>
				<div class="box box__second">
					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Django</span><span>80</span></div>
						</div>
						<div class="progress-text"><span>Django</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Codeigniter 3</span><span>90</span></div>
						</div>
						<div class="progress-text"><span>Codeigniter 3</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Lumen 4</span><span>65</span></div>
						</div>
						<div class="progress-text"><span>Lumen 4</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Express JS</span><span>65</span></div>
						</div>
						<div class="progress-text"><span>Express JS</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Flutter</span><span>80</span></div>
						</div>
						<div class="progress-text"><span>Flutter</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Bootstrap</span><span>80</span></div>
						</div>
						<div class="progress-text"><span>Bootstrap</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>